@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "recut-dark";
  color-scheme: dark;
  --color-base-100: #0a0a0a;
  --color-base-200: #000000;
  --color-base-300: #1a1a1a;
  --color-base-content: #ffffff;
  --color-primary: #ff00d3;
  --color-secondary: #00d3ff;
  --color-accent: #00ff99;
  --color-neutral: #111111;
  --color-info: #00d3ff;
  --color-success: #00ff99;
  --color-warning: #ffaa00;
  --color-error: #ff3333;
}

:root, [data-theme="light"] {
  --logo-glow-color-solid: rgba(0, 0, 0, 0.4);
  --logo-glow-color-blur: rgba(0, 0, 0, 0.1);
}

[data-theme="recut-dark"] {
  --logo-glow-color-solid: rgba(255, 255, 255, 1);
  --logo-glow-color-blur: rgba(255, 255, 255, 0.6);
}

@layer components {
  .logo-glow {
    filter: drop-shadow(0 0 1.5px var(--logo-glow-color-solid)) drop-shadow(0 0 12px var(--logo-glow-color-blur));
  }

  .custom-range-slider {
    @apply absolute w-full h-2 appearance-none bg-transparent pointer-events-none;
  }
  .custom-range-slider::-webkit-slider-thumb {
    @apply pointer-events-auto w-5 h-5 rounded-full appearance-none;
  }
  .custom-range-slider::-moz-range-thumb {
    @apply pointer-events-auto w-5 h-5 border-none rounded-full;
  }
  .thumb-primary::-webkit-slider-thumb {
    @apply bg-primary;
  }
  .thumb-primary::-moz-range-thumb {
    @apply bg-primary;
  }
  .thumb-secondary::-webkit-slider-thumb {
    @apply bg-secondary;
  }
  .thumb-secondary::-moz-range-thumb {
    @apply bg-secondary;
  }
}
